# Rails environment
RAILS_ENV=development
RACK_ENV=development
RAILS_MASTER_KEY=your_master_key_here
RAILS_SERVE_STATIC_FILES=1
DATABASE_URL=postgres://postgres:postgres@db:5432/epos257_development

# Docker Hub credentials
DOCKER_USERNAME=your_docker_username
DOCKER_PASSWORD=your_docker_pat_token
